.card {
    border: darkgray 2px solid;
    padding: 1rem;
    width: fit-content;
}

.card > hr {
    margin: 1rem 0rem;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header > span {
    font-size: x-large;
}

.card-image-holder {
    border: darkgray 2px solid;
    border-radius: 100%;
    overflow: hidden;
    height: 10rem;
    width: 10rem;
}

.card-image-holder > * > img {
    height: 10rem;
    width: 10rem;
}
